#include <winver.h>

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "CompanyName", "TODO: <会社名>"
            VALUE "FileDescription", "TODO: <ファイルの説明>"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "Palmtree.Math.Core.Uint"
            VALUE "LegalCopyright", "Copyright (C) 2019"
            VALUE "OriginalFilename", "Palmtree.Math.Core.Uint"
            VALUE "ProductName", "TODO: <製品名>"
            VALUE "ProductVersion", "1.0.0.1"
        END
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Palmtree Software"
            VALUE "FileDescription", "多倍長整数演算ライブラリ アンマネージDLL"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "Palmtree.Math.Core.Uint"
            VALUE "LegalCopyright", "© 2018 Palmtree Software"
            VALUE "OriginalFilename", "Palmtree.Math.Core.Uint"
            VALUE "ProductName", "多倍長整数演算ライブラリ"
            VALUE "ProductVersion", "1.0.0.10"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200, 0x411, 1200
    END
END
